@media screen and (max-width: 776px) {
    div {
      width: 100%
    }
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

header, footer {
    background-color: black;
    color: lightgray;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
}

.btn {
    background-color: black;
    border: none;
    padding: 1rem;
}

.btn a {
        text-decoration: none;
    color: whitesmoke;
}

.btn-inv {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: calc(1rem - 1px);
}

.btn-inv a {
    text-decoration: none;
    color: black;
}

.btn:hover, .btn-inv:hover {
    background-color: slategray;
}

.nav li, nav li {
    display: inline-block;
    list-style: none;
}


.menuitem {
    display: inline-flex;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
}

.btn {
    text-decoration-color: white;
    border: none;
    background-color:black;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

#homeIntroduceName {
    font-weight: bold;
    color: white;
    background-color: black;
}

.onethird {
    display: inline-block;
    align-content: center;
    text-align: center;
    width: 33%;
    /* width: calc(100% / 3); */
    
}

.boxes {
    margin: 18px;
    border: 1px solid;
    width: 30%;
    height: 200px;
    box-sizing: content-box;
    box-shadow: 2px 2px 2px lightslategray;
}

.backToMenuBtn {
    border: none;    
    color: black;
    /* background-color: white; */
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.images {
    width: 100%;
}

#aboutPicture {
    width: 300px;
    float: left;
    margin-inline-end: 1em;
}

.galleryrow {
    align-content: center;
}

.gallerycell {
    display: inline-block;
    margin: 10px;
}

.gallerypicture {
    width: 300px;
    height: 300px;
    vertical-align: middle;
    box-shadow: 5px 5px 10px slategrey;
}

.workgallery {
    display: inline-block;
    /* width: 49%; */
    vertical-align: text-top;
    text-align: justify;
}

.workpicture {
    width: 500px;
    margin-inline-end: 1em;
    float: left;
}