body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: whitesmoke; */
}

header, footer {
    background-color: black;
    color: lightcyan;
}


h1 {
    text-align: left;
    /* color: cornflowerblue; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* background-color: black; */
}

#homeIntroduceName {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bold;
    color: white;
    background-color: black;
}

.images {
    width: 100%;
}